# OSX
.DS_Store

# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
android/app/build/
android/build/
android/.gradle/
android/.cxx/
android/app/.cxx/
**/.cxx/
android/local.properties
android/keystores/debug.keystore
*.iml
.idea
.gradle
local.properties
*.hprof

# Cocoapods
ios/Pods/

# node.js
node_modules/
npm-debug.log
yarn-error.log

# fastlane
ios/fastlane/report.xml
ios/fastlane/Preview.html
ios/fastlane/screenshots
ios/fastlane/test_output

# Bundle artifacts
*.jsbundle

# CocoaPods
ios/Pods/

# Ruby / CocoaPods
/ios/vendor/bundle/

# Temp / scratch
tmp-knightarena-native/
